@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


//MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

*/
 

/*
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px (default font-size in any browser)
la media quary nu se ia in considerare font-size ul pe care il punem in html (_base.scss), ma refer la font-size ul cand definim media quari ul (de ex la telefon max-width: 600px)
*/

@mixin respond($breakpoint) {   //daca de ex, $breakpoint == phone, atunci se face responsive cu max-width: 600px si cu toate prop. ce le dam in @content
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content};  //600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content}; //900px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content};  //1200px
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 121.875em) {@content};   //1950px
    }

}