.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;  /* sa nu tremure textul cand se aplica animatia */
    margin-bottom: 6rem;


    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;

        
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation-name: moveInRight;
        animation-duration: 1s;

        @include respond(phone) {
            letter-spacing: 0.5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;  //pun ca width-ul background-image-ului sa fie egal cu lungimea textului
    -webkit-background-clip: text;  //pun imagnea de fundal, gradientul, pe text
    color: transparent;  //coloarea textului transparenta ca sa se vada img de fundal de pe text

    letter-spacing: 2px;
    transition: all 0.2s;
    cursor: default;


    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}